/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>

/ {
	compatible = "ti,am335x-bone-black-wireless", "ti,am335x-bone-black";

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			/* Overwrite the default pinctrl from kernel device tree file for XDMA_EVENT_INTR1 */
			pinctrl-0 = <&clkout2_pin_custom>;

			botic_cape_pins: botic_cape_pins {
				pinctrl-single,pins = <
					/* external masterclock enable */
					AM33XX_PADCONF(AM335X_PIN_GPMC_A2, PIN_OUTPUT_PULLDOWN, MUX_MODE7)    /* gpmc_a2.gpio1_18 */
					/* external masterclock switch */
					AM33XX_PADCONF(AM335X_PIN_UART1_TXD, PIN_OUTPUT_PULLDOWN, MUX_MODE7)    /* uart1_txd.gpio0_15 */
					/* DSD format switch */
					AM33XX_PADCONF(AM335X_PIN_UART1_RXD, PIN_OUTPUT_PULLDOWN, MUX_MODE7)    /* uart1_rxd.gpio0_14 */
				>;
			};

			/* Needs to be set to input to make available MCASP0_AXR1 on P9.41 */
			clkout2_pin_custom: clkout2_pin_custom {
				pinctrl-single,pins = <
					AM33XX_PADCONF(AM335X_PIN_XDMA_EVENT_INTR1, PIN_INPUT, MUX_MODE7)
				>;
			};

			mcasp0_pins: mcasp0_pins {
				pinctrl-single,pins = <
					/* onboard 24.576MHz oscillator control */
					AM33XX_PADCONF(AM335X_PIN_GPMC_A11, PIN_OUTPUT_PULLDOWN, MUX_MODE7)	/* gpmc_a11.GPIO1_27 */
					/* bitclock */
					AM33XX_PADCONF(AM335X_PIN_MCASP0_ACLKX, PIN_OUTPUT_PULLDOWN, MUX_MODE0)	/* mcasp0_aclkx.mcasp0_aclkx */
					/* wordclock */
					AM33XX_PADCONF(AM335X_PIN_MCASP0_FSX, PIN_OUTPUT_PULLUP, MUX_MODE0)	/* mcasp0_fsx.mcasp0_fsx */
					/* data pins */
					AM33XX_PADCONF(AM335X_PIN_MCASP0_AXR0, PIN_OUTPUT_PULLDOWN, MUX_MODE0)	/* mcasp0_axr0.mcasp0_axr0 */
					AM33XX_PADCONF(AM335X_PIN_MCASP0_AXR1, PIN_OUTPUT_PULLDOWN, MUX_MODE0)    /* mcasp0_axr1 */
					/* disable eCAP0_in_PWM0_out to allow usage of mcasp0_axr2 on P9_42 */
					AM33XX_PADCONF(AM335X_PIN_ECAP0_IN_PWM0_OUT, PIN_INPUT, MUX_MODE7)              /* ecap0_in_pwm0_out.gpio0_7 */
					AM33XX_PADCONF(AM335X_PIN_MCASP0_ACLKR, PIN_OUTPUT_PULLDOWN, MUX_MODE2)	/* mcasp0_aclkr.mcasp0_axr2 */
					AM33XX_PADCONF(AM335X_PIN_MCASP0_FSR, PIN_OUTPUT_PULLDOWN, MUX_MODE2)    /* mcasp0_fsr.mcasp0_axr3 */
					/* master clock */
					AM33XX_PADCONF(AM335X_PIN_MCASP0_AHCLKX, PIN_INPUT_PULLUP, MUX_MODE0)	/* MCASP0_AHCLKX -> MCASP0_AHCLKX (I2S_MCLK_OUT)- in */	
				>;
			};

			i2c1_pins: pinmux_bb_i2c1_pins {
				pinctrl-single,pins = <
					AM33XX_PADCONF(AM335X_PIN_SPI0_D1, PIN_INPUT_PULLUP | SLEWCTRL_SLOW, MUX_MODE2)
					AM33XX_PADCONF(AM335X_PIN_SPI0_CS0, PIN_INPUT_PULLUP | SLEWCTRL_SLOW, MUX_MODE2)
				>;
			};
		};
	};

	fragment@1 {
		target-path="/";

		__overlay__ {
			
			clk48: clk48 {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <49152000>;
			};

			clk44: clk44 {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <45158400>;
			};

			clkmux: clkmux {
				#clock-cells = <0>;
				compatible = "gpio-mux-clock";
				clocks = <&clk44>, <&clk48>;
				select-gpios = <&gpio0 15 0>;
			};

			sound {
				compatible = "botic-audio-card";
				status = "okay";

				pinctrl-names = "default";
				pinctrl-0 = <&botic_cape_pins>;

				clocks = <&clkmux>, <&clk48>, <&clk44>;
				clock-names = "mux", "clk48", "clk44";

				audio-port = <&mcasp0>;
				audio-codec = <&es9018k2m>;
				audio-codec-dai = "es9018k2m-hifi";

				dsd-gpios = <&gpio0 14 0>;
				enable-gpios = <&gpio1 18 0>;
			};

		};

	};
	
	/* (Hermes-BBB) The I2C1 for isolated I2C access. */
	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_pins>;
			/* ESS 9018K2M DAC is on I2C address 0x48 */
			es9018k2m: es9018k2m@48 {
				compatible = "ess,es9018k2m";
				reg = <0x48>;
				status = "okay";
			};
		};


	};
	
	/* Enable and configure McASP as needed. */
	fragment@3 {
		target = <&mcasp0>;
		__overlay__ {
			pinctrl-names = "default";
			status = "okay";
			pinctrl-0 = <&mcasp0_pins>;
			serial-dir = <  /* 0: INACTIVE, 1: TX, 2: RX */
				1 1 1 1
			>;
			tx-num-evt = <32>;
			rx-num-evt = <32>;
		};
	};
};
